extends layout

block content
  form(method="post" action="/albums")
    h1 New Album
    fieldset
      dl
        dt
          label(for="title") Title
        dd
          +text_input_tag("title")
        dt
          label(for="artist") Artist
        dd
          +text_input_tag("artist")
        dt
          label(for="url") URL
        dd
          +text_input_tag("url")
        dt
          label(for="date") Date Released
        dd
          input(type="date" name="date" id="date")
        dt
          label(for="cover") Cover
        dd
          input(type="url" name="cover" id="cover")
        dt 
          label(for="price") Price
        dd
          +text_input_tag("price")

    button(type="submit") Submit