<form method="post" action="/albums">
  <h1>New Album</h1>
  <fieldset>
    <dl>
      <dt>
        <label for="title">Title</label>
      </dt>
      <dd>
        <input type="text" name="title" id="title">
      </dd>
      <dt>
        <label for="artist">Artist</label>
      </dt>
      <dd>
        <input type="text" name="artist" id="artist">
      <dd>
      <dt>
        <label for="url">URL</label>
      </dt>
      <dd>
        <input type="text" name="url" id="url">
      <dd>
      <dt>
        <label for="date">Date Released</label>
      </dt>
      <dd>
        <input type="date" name="date" id="date">
      <dd>
      <dt>
        <label for="cover">Cover</label>
      </dt>
      <dd>
        <input type="url" name="cover" id="cover">
      <dd>
      <dt> 
        <label for="price">Price</label>
      </dt>
      <dd>
        <input type="text" name="price" id="price">
      <dd>
    </dl>
  </fieldset>
  <fieldset>
    <button type="submit">Submit</button>
  </fieldset>
</form>
